{% extends 'base.html' %}
{% load static %}
{% block content  %}



<section id="team" class="team section light-background">

<div class="container section-title" data-aos="fade-up">
        <h2>welcome</h2>
        <p>home is where the heart is<br></p>
    </div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
    <h3>Registration form</h3>
    {{ form.as_p }}
            <div class="d-grid">
                 <button type="submit" class="btn btn-primary">SUBMIT</button>
            </div>

</form>
    </div>
</div>

</section>















{% endblock %}